:root {
    --font: Roboto, sans-serif;
    --black: #000000;
    --white: #FFFFFF;
    --yellow: #FFE7A8;
    --lightGrey: #D9D9D9;
    --darkGrey: #9A9A9A;
    --pink: #FCA1FF;
    --babyBlue: #75CCFF;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--black);
    font-family: var(--font);
    overflow-x: hidden;
    margin: 0;
}

/* ------------------ nav ------------------ */

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: var(--white);
    width: 100%;
    height: 90px;
    z-index: 100;
    top: 0;
}

.nav-jump {
    background: var(--lightGrey);
    height: 60px;
    width: 60px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 50px;
}

.nav-jump:hover {
    background: var(--darkGrey);
}

.left-scroll, .right-scroll {
    background: var(--white);
    height: 60px;
    width: 60px;
}

.left-scroll {
    margin-right: 70px;
}

.right-scroll {
    margin-left: 70px;
}

@media only screen and (max-width: 393px) {
    .nav-bar {
        height: 60px;
    }

    .nav-jump {
        width: 25px;
        height: 30px;
        margin: 2px;
        border-radius: 5px;
    }

    .left-scroll, .right-scroll {
        width: 30px;
        height: 30px;
        margin: 0;
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* ------------------ svg container ------------------ */

.visual-container {
    height: 600px;
    margin-top: 90px;
    /* border: var(--pink) 1px solid; */
}

.visual-container svg {
    width: 95%;
}

@media only screen and (max-width: 393px) {
    .visual-container {
        margin-top: 60px;
        height: 180px;
    }

    .visual-container svg {
        width: 100%;
    }
}

/* ------------------ header ------------------ */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    color: var(--white);
}

h2 {
    font-weight: 300;
}

p {
    color: var(--yellow);
    font-weight: 300;
}

header .title {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
}

header .subtitle {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

header .body {
    width: 70%;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 150px;
}

@media only screen and (max-width: 393px) {
    header .title {
        font-size: 40px;
        margin: 30px;
    }

    header .subtitle {
        font-size: 22px;
        margin-bottom: 50px;
        width: 75%;
    }

    header .body {
        width: 75%;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

/* ------------------ timeline (desktop) ------------------ */

.timeline .item {
    scroll-margin-top: 100px;
    padding-bottom: 80px;
}

.timeline .text-box {
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 20px;
    padding-right: 60px;
}

.timeline .title {
    color: var(--white);
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 12px;
}

.timeline .description {
    margin: 0;
    font-size: 20px;
    width: 500px;
}

.animation {
    height: 650px;
    position: relative;
    bottom: 20px;
}

.flip-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.flip-card .click {
    border: var(--yellow) 1px solid;
    height: 50px;
    width: 50px;
    margin: 20px;
}

.flip-card .click:hover {
    cursor: pointer;
}

.click svg {
    width: 70%;
    height: 70%;
    margin-left: 8px;
    margin-top: 8px;
}

.flip-card .image, .flip-card .text {
    width: 475px;
    height: 348px;
    border: var(--yellow) 1px solid;
    box-sizing: border-box;
}

#section-1 .flip-card .image {
    background: url(../assets/collision-to-form-moon.jpeg);
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#section-1 .flip-card .text {
    padding: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#content {
    font-size: 18px;
}

.flip-card .link {
    text-align: right;
}

@media only screen and (max-width: 393px) {
    .timeline .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 100px;
    }
    
    .timeline .title {
        font-size: 20px;
        text-align: left;
    }

    .timeline .description {
        font-size: 18px;
        width: 75%;
    }

    .animation {
        height: 390px;
        text-align: center;
        bottom: 5px;
    }

    .flip-card {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 0;
    }

    .flip-card .click {
        display: none;
    }

    .flip-card .image, .flip-card .text {
        width: 350px;
        height: 250px;
    }

    #section-1 .flip-card .image {
        background-size: cover;
        border-bottom-left-radius: 0;
        border-top-right-radius: 20px;
    }

    #section-1 .flip-card .text {
        height: 400px;
        padding: 40px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0;
    }
}

/* ------------------ extra styling ------------------ */

.timeline span {
    text-decoration: line-through;
}

.text a {
    color: var(--babyBlue);
}

.footer {
    width: 100%;
    height: 150px;
    background: var(--darkGrey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    text-align: center;
    color: var(--black);
    font-weight: 400;
}

.footer p a {
    text-decoration: none;
}

@media only screen and (max-width: 393px) {
    .footer {
        width: 100%;
        height: 200px;
    }
}

/* ------------------ next page ------------------ */

.disclaimer {
    display: flex;
    justify-content: center;
    margin-top: 320px;
}

.disclaimer p {
    width: 510px;
    color: var(--white);
    font-size: 25px;
}

.disclaimer a {
    text-decoration: none;
    color: #75CCFF;
}

.disclaimer a:hover {
    color: #FCA1FF;
    font-weight: 600; 
}

.disclaimer span {
    color: var(--yellow);
    text-decoration: none;
}

@media only screen and (max-width: 393px) {
    /*  */
}