/* global */


/* header */

.visual-container {
    display: block;
    width: 100%;
    height: 600px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.svg-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
    z-index: -1;
}

.svg-header-bg {
    position: absolute;
    width: 95%;
    height: 100%;
    left: 2.5%;
    z-index: -5;
}

.svg-header-ocean-1 {
    position: absolute;
    width: 40%;
    top: 14%;
    left: 12%;
}

.svg-header-ocean-2 {
    position: absolute;
    width: 29%;
    top: 9%;
    left: 60%;
}

.svg-header-land-1 {
    position: absolute;
    width: 22%;
    top: 34%;
    left: 55%;
}

.svg-header-land-2, .svg-header-land-3, .svg-header-land-4 {
    position: absolute;
    width: 10%;
}

.svg-header-land-2 {
    top: 20%;
    left: 26%;
}

.svg-header-land-3 {
    top: 27%;
    left: 38%;
}

.svg-header-land-4 {
    top: 73%;
    left: 40%;
}

.svg-header-air-1, .svg-header-air-2, .svg-header-air-3, .svg-header-air-4 {
    position: absolute;
    width: 15%;
}

.svg-header-air-1 {
    top: 42%;
    left: 37%;
}

.svg-header-air-2 {
    top: 49%;
    left: 46%;
}

.svg-header-air-3 {
    top: 82%;
    left: 32%;
}

.svg-header-air-4 {
    top: 15%;
    left: 77%;
}

/* section 1 */

.asteroid {
    position: absolute;
    width: 5%;
    left: -5%;
    margin-top: 10%;
    z-index: 1;
}

.baby-earth {
    position: absolute;
    width: 50%;
    left: 10%;
    margin-top: 5%;
}

/* section 2 */

.molten-earth {
    position: absolute;
    width: 40%;
    left: 30%;
    margin-top: 7%;
}

/* section 3 */

.ice-earth {
    position: absolute;
    width: 30%;
    left: 35%;
    margin-top: 12%;
}

/* section 4 */

.prokaryote {
    position: absolute;
    width: 30%;
    left: 35%;
    margin-top: 10%;
}

.small-prokaryote {
    position: absolute;
    width: 20%;
    left: 18%;
    margin-top: 45%;
}

/* section 5 */

.eukaryote {
    position: absolute;
    width: 30%;
    left: 15%;
    margin-top: 10%;
}

.dialogue {
    position: absolute;
    width: 20%;
    left: 43%;
    margin-top: 8%;
}

.dialogue-text-s5 {
    position: absolute;
    color: white;
    margin-top: 9.7%;
    left: 45%;
}