.animation svg {
    display: block;
    margin: auto;
}

.animation .baby-earth {
    height: 650px;
}

/* .asteroid {
    position: absolute;
    width: 100px;
    left: 20%;
} */

#section-2 .animation, #section-3 .animation, #section-4 .animation, #section-5 .animation, #section-6 .animation, #section-7 .animation {
    margin-top: 80px;
}

.molten-earth {
    width: 550px;
}

.water-earth {
    width: 550px;
}

.prokaryote {
    width: 450px;
}

.eukaryote {
    width: 450px;
}

#section-6 .animation {
    height: 1035px;
}

.frozen-earth {
    width: 450px;
}

@media only screen and (max-width: 393px) {
    body {
        overflow-x: hidden;
    }
    
    .animation .baby-earth {
        height: 390px;
    }

    .asteroid {
        width: 50px;
        left: 0;
    }

    .molten-earth {
        width: 330px;
        height: 390px;
    }

    .water-earth {
        width: 315px;
        height: 400px;
    }

    .prokaryote {
        width: 300px;
        height: 500px;
    }    

    .eukaryote {
        width: 300px;
        height: 500px;
    }

    #section-6 .animation {
        height: 350px;
        top: 30px;
    }

    .cyanaobacteria {
        width: 100%;
    }

    #section-7 .animation {
        height: 500px;
    }

    .frozen-earth {
        width: 290px;
        height: 500px;
    }
}