html {
    scroll-behavior: smooth;
}

body {
    background: black;
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

/* nav */

.nav-bar {
    background: white;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-jump {
    background: #D9D9D9;
    height: 60px;
    width: 60px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 50px;
}

.nav-jump:hover {
    background: #9A9A9A;
}

.left-scroll, .right-scroll {
    background: white;
    height: 60px;
    width: 60px;
}

.left-scroll {
    margin-right: 70px;
}

.right-scroll {
    margin-left: 70px;
}

/* header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

h1, h2 {
    color: white;
}

h2 {
    font-weight: 300;
}

p {
    color: #FFE7A8;
    font-weight: 300;
}

.page-title {
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.page-subtitle {
    font-size: 35px;
    margin: 0;
}

.introduction {
    width: 70%;
    font-size: 30px;
    margin-top: 50px;
}

/* timeline */

.timeline-item {
    height: 800px;
    width: 90vw;
    border: #515151 solid 1px;
    border-left: white solid 3px;
    margin-left: 60px;
    scroll-margin-top: 100px;
    padding-bottom: 100px;
}

.timeline-box {
    padding-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
}

.timeline-title {
    color: white;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 12px;
}

.timeline-description {
    margin: 0;
    font-size: 20px;
}

span {
    text-decoration: line-through;
}

.timeline button {
    background: black;
    color: #FFE7A8;
    font-size: 25px;
    padding: 16px 21px;
    margin-left: 20px;
    border-radius: 20px;
    border: 2px solid #FFE7A8;
}

.timeline button:hover {
    cursor: pointer;
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,0);
    visibility: hidden;
}

.pop-up {
    background: #D9D9D9;
    color: black;
    font-size: 20px;
    font-weight: 300;
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    visibility: hidden;
    position: relative;
    left: 900px;
    top: 100px;
}

/* next page */

.disclaimer {
    display: flex;
    justify-content: center;
    margin-top: 320px;
}

.disclaimer p {
    width: 510px;
    color: white;
    font-size: 25px;
}

.disclaimer a {
    text-decoration: none;
    color: #75CCFF;
}

.disclaimer a:hover {
    color: #FCA1FF;
    font-weight: 600; 
}

.disclaimer span {
    color: #FFE7A8;
    text-decoration: none;
}